.tag-search-container {
    margin: 10px;

    &.small {
        width: 120px;
    }

    &.medium {
        width: 520px;
    }

    &.large {
        width: 1020px;
    }
}

.tag-search-content-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    padding: 16px 25px 16px 16px;
    background-color: white;
    z-index: 99;

    &.active {
        border-radius: 20px 20px 0 0;
        border: 3px solid black;
        border-bottom: 0px;
    }

    &.inactive {
        border-radius: 20px 20px 20px 20px;
        border: 3px solid black;
    }

    &:focus-within {
        // box-shadow: 0 5px 5px rgb(0, 0, 0, 0.3);
    }


    &.small {
        width: 100px;
    }

    &.medium {
        width: 500px;
    }

    &.large {
        width: 1000px;
    }
}

.tag-search-input-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    overflow: hidden;
}

.tag-search-input-autocomplete {
    width: 50px;
    height: 25px;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
}

.tag-search-btn-clear {
    position: absolute;
    top: 12px;
    width: 32px;
    height: 32px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.tag-search-btn-search {
    position: absolute;
    top: 12px;
    width: 32px;
    height: 32px;
    right: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.tag-search-ul-dropdown {
    position: absolute;
    display: block;
    list-style: none;
    background-color: white;
    margin: 0px;
    padding: 16px;
    z-index: 99;
    border: 1px solid lightgray;

    &.small {
        width: 100px;
    }

    &.medium {
        width: 500px;
    }

    &.large {
        width: 1000px;
    }

    li {
        cursor: pointer;
        padding: 0 16px;
        color: black;
        &.selected {
            background-color: lightgray;
        }
    }
}

$tagBackgroundColor: #79d8e5;
$tagDarkerBackgroundColor: #5cbfcd;

.tag {
    background-color: $tagBackgroundColor;
    color: white;
    width: max-content;
    margin: 0px 5px 5px 0px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    &:hover {
        background-color: $tagDarkerBackgroundColor;
    }
}