@mixin deleteDefaultButtonStyle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0.5rem 1rem;

  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-input-wrapper {
  display: flex;
  height: 75px;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 10px 30px;

  //닉네임
  .nickname-section-wrapper {
    flex: 1;
    display: flex;
    // justify-content: center;
    align-items: center;

    .nickname-input-label {
      font-weight: bold;
      font-size: 1rem;
      flex: 1;
      text-align: end;
    }

    .nickname-left-section {
      flex: 4;
      display: flex;

      .nickname-input-wrapper {
        display: flex;
        flex-direction: column;
        flex: 3;

        .nickname-input {
          margin: 0px 30px 0px 30px;
          padding: 10px;
          border: 1px solid black;
          display: flex;
          flex-direction: column;
          flex: 3;
        }
      }
    }

    .nickname-right-section {
      flex: 5;
      display: flex;
      justify-content: space-between;
    }
  }

  //이메일
  .email-section-wrapper {
    display: flex;
    flex: 1;
    height: 75px;
    justify-content: space-between;
    align-items: center;

    .email-input-label {
      font-weight: bold;
      font-size: 1rem;
      flex: 1;
      text-align: end;
    }

    .email-input-wrapper {
      display: flex;
      flex-direction: column;
      flex: 4;

      .email-input {
        margin: 0px 30px 0px 30px;
        padding: 10px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        flex: 9;
      }
    }
  }

  //아이디
  .username-section-wrapper {
    display: flex;
    flex: 1;
    height: 75px;
    justify-content: space-between;
    align-items: center;

    .username-input-label {
      font-weight: bold;
      font-size: 1rem;
      flex: 1;
      text-align: end;
    }

    .username-input-wrapper {
      display: flex;
      flex-direction: column;
      flex: 4;

      .username-input {
        margin: 0px 30px 0px 30px;
        padding: 10px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        flex: 9;
      }
    }
  }

  //아이디
  .name-section-wrapper {
    display: flex;
    flex: 1;
    height: 75px;
    justify-content: space-between;
    align-items: center;

    .name-input-label {
      font-weight: bold;
      font-size: 1rem;
      flex: 1;
      text-align: end;
    }

    .name-input-wrapper {
      display: flex;
      flex-direction: column;
      flex: 4;

      .name-input {
        margin: 0px 30px 0px 30px;
        padding: 10px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        flex: 9;
      }
    }
  }

  //비밀번호
  .password-section-wrapper {
    display: flex;
    flex: 1;
    height: 75px;
    justify-content: space-between;
    align-items: center;

    .password-input-label {
      font-weight: bold;
      font-size: 1rem;
      flex: 1;
      text-align: end;
    }

    .password-input-wrapper {
      display: flex;
      flex-direction: column;
      flex: 4;

      .password-input {
        margin: 0px 30px 0px 30px;
        padding: 10px;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        flex: 9;
      }
    }
  }
}

// 공통
.register-container {
  width: 100vw;
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.register-banner-wrapper {
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: white;
}

.register-form-wrapper {
  padding-top: 30px;
  width: 50%;
  height: 100%;
  background-color: white;
}

.register-title {
  margin: 15px 0px 15px 30px;
  font-weight: bold;
  font-size: 1.3rem;
}

.register-title-hr {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #bbb inset;
}

.register-description {
  display: flex;
  align-items: center;
  color: #707070;
  font-size: 0.8rem;
  margin: 0px 10px 0px 10px;
}

.alert {
  margin: 0px 30px 0px 30px;
  color: rgb(211, 67, 15);
}

.register-input {
  flex: 1;
  height: 25px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: black;
}

.register-validate-button {
  @include deleteDefaultButtonStyle;
  background-color: black;
  color: white;
  border: 0;

  &:hover {
    background-color: rgb(85, 80, 80);
  }
}

.register-footer {
  margin: 60px 0px 50px 0px;
  display: flex;
  justify-content: center;
}

.register-footer-buttons-wrapper {
  width: 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.register-login-description {
  font-size: 0.8rem;
  color: #707070;
  margin: 30px 0 10px 0;
  text-align: center;
}


.register-sign-up-button-wrapper {
  margin-left: 40px;
  flex: 2;
}

.register-sign-up-button {
  @include deleteDefaultButtonStyle;
  background-color: black;
  color: white;
  border: 0;

  &:hover {
    background-color: rgb(85, 80, 80);
  }
}

.register-sign-in-button {
  @include deleteDefaultButtonStyle;
  background-color: black;
  color: white;
  border: 0;

  &:hover {
    background-color: rgb(85, 80, 80);
  }
}