.game-container{
    width: 80%;
    min-width: 400px;
    margin: 0 auto;
    text-align: center;
    /*게임 제목*/
    .game-title{
        font-weight: bold;
        font-size: 30px;
        margin: 50px 0 30px 0;
    }
    /*게임 조회수*/
    .game-jump{
        margin-bottom: 50px;
        font-weight: bold;
        color: #969696;
    }
    /*매치된 두 이미지*/
    .game-match{
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        align-items: center;
        .item{
            width: 50%;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            .img-container{
                display: flex;
                align-items: center;
                height: 20rem;
                img{
                    width: 15rem;
                    margin: 0 auto;
                    border-radius: 15px;
                    box-shadow: 3px 3px 5px #ababab;
                }
            }
            button{
                color: white;
                margin: 0 auto;
                width: 12rem;
                padding: 0.8rem 0;
                border: none;
                margin-top: 30px;
                transition: 0.2s ease;
            }
            &:first-child {
                button{
                    background-color: #CB998E;
                    &:hover{
                        background-color: #b2867d;
                    }
                }
            }
            &:last-child {
                button{
                    background-color: #93ACA8;
                    &:hover{
                        background-color: #778b88;
                    }
                }
            }
            h2{
                font-weight: bold;
                font-size: 16px;
                color: #636363;
                margin: 20px 0;
            }
        }
    }
}
/*선택하기 버튼 클릭 시 등장하는 중앙 이미지*/
.item-select{
    /*주변 화면 흐리게*/
    .overlay{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,0.6);
        top: 0;
    }
    /*선택된 이미지*/
    .selected-item{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img{
            border-radius: 15px;
            width: 25rem;
            box-shadow: 3px 3px 5px #ababab;
        }
        h1{
           font-size: 20px;
           font-weight: bold;
           margin: 20px 0;
        }
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5px;
            button{
                background-color: #2a2a2a;
                color: white;
                padding: 1rem 3rem;
                border: none;
                font-weight: bold;
                font-size: 1rem;
                transition: 0.2s ease;
                &:hover{
                    background-color: black;
                }
            }
        }
        
    }
}
/*댓글창*/
.show-comment{
    margin: 0 auto;
    margin-top: 500px;
    background-color: whitesmoke;
    position: absolute;
    height: 100vh;
    width: 100vw;
    padding-top: 60px;
    .comment-profile{
        display: flex;
        justify-content: flex-start;
        align-items: end;
        gap: 3rem;
        width: 60vw;
        margin: 0 auto;
        img{
           border-radius: 50%;
           box-shadow: 2px 2px 4px #ababab;
           &:first-child{
            width: 4rem;
            height: 4rem;
           }
           &:last-child{
            width: 3rem;
            height: 3rem;
           }
        }
        h3{
            font-weight: bold;
            color: #636363;
        }
    }
    .add-comment{
        width: 60vw;
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        textarea{
            width: 100%;
            height: 10rem;
            resize: none;
            border: 3px solid #C8D0E2;
            background-color: #dfdfdf;
            transition: 0.2s ease;
            padding: 0.6rem;
            &:focus{
                background-color: #ececec;
            }
        }
        button{
            padding: 7px 40px;
            margin: 1rem 0 0 auto;
            border: none;
            color: white;
            background-color: #98A0B1;
            transition: 0.2s ease;
            &:hover{
                background-color: #7c8290;
            }
        }
    }
    .comments{
        width: 60vw;
        margin: 10px auto;
    }
}